body {
    margin: 20px;
    padding: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
}

#game-container {
    width: 800px;
    height: 600px;
}
